body{
    background-color: pink;
}
h1{
    background-color: green;
    color: white;
    width: 200px;
    height: 400px;
    /* border-radius: 20%; */
}
h2{
    background-color: blue;
    color: aqua;
    height: 200px;
    width: 300px;
}
/* aside{
    background-color: black;
    color: wheat;
    height: 100px;
    width: 300px;
} */

#head-1{
    background-color: aqua;
    width: 200px;
    height: 200px;
    text-align: center;
}

.aside-bar{
    background-color: bisque;
}